---
import { changeLanguage } from "i18next";
import Header from "~/components/layout/header.astro";
import Splash from "~/components/home/splash.astro";
import Layout from "~/components/layout/layout.astro";
import "~/styles/index.css";
import Qualities from "~/components/home/qualities.astro";
import FAQ from "~/components/home/faq";

changeLanguage("de");
---

<Layout>
  <Header />

  <main class="space-y-24 bg-white pb-8">
    <Splash />
    <Qualities />
    <div><FAQ client:visible /></div>
  </main>
</Layout>
