---
import Header from '~/components/layout/header.astro';
import Splash from '~/components/home/splash.astro';

import Layout from '~/components/layout/layout.astro';
import '~/styles/index.css';
import WaitlistForm from '~/components/shared/waitlist-form';
---

<Layout>
  <Header />
  <Splash />
  <main class="px-8 py-32 space-y-24">
    <WaitlistForm client:idle />
  </main>
</Layout>
