---
import Header from '~/components/layout/header.astro';
import Splash from '~/components/home/splash.astro';

import Layout from '~/components/layout/layout.astro';
import '~/styles/index.css';
import Qualities from '~/components/home/qualities.astro';
---

<Layout>
  <Header />

  <main class="space-y-24 bg-white">
    <Splash />
    <Qualities />
  </main>
</Layout>
