---
import background from '~/assets/splash/background.jpg';
import {Image} from '@astrojs/image/components';
import iPhone from '~/assets/splash/iPhone.png';
import WaitlistForm from '../shared/waitlist-form';
---

<section class="relative h-full bg-black text-white">
  <div class="absolute inset-0 overflow-hidden h-screen w-full">
    <Image src={background} alt="" class="w-full h-full" />
  </div>
  <div class="relative h-full flex flex-col items-center pt-52 flex-1 justify-start space-y-16">
    <h2 class="text-center text-9xl">
      WIE EINE <span class="text-pink-400 font-thin font-serif">bank</span><br />
      ABER BESSER IN<br />
      <span class="text-emerald-400 font-thin font-serif">jedem</span> ASPEKT
    </h2>
    <div><WaitlistForm client:load /></div>
    <div><Image src={iPhone} alt="iPhone 13 with Screenshot of the Superlight App" /></div>
  </div>
</section>
