---
import {Icon} from 'astro-icon';
import WaitlistButton from '../shared/waitlist-button';
---

<footer class="flex p-16 text-xs flex-col flex-1 bg-footer">
  <div class="flex flex-wrap">
    <Icon name="logomark" class="h-10 mb-8 hidden sm:block" />
    <Icon name="logo-solo" class="h-10 mb-8 sm:hidden" />

    <div class="ml-auto"><WaitlistButton client:visible /></div>
  </div>

  <div class="flex flex-wrap space-x-8 space-y-2 sm:space-y-0">
    <a href="/" class="text-primary">© Superlight GmbH 2022</a>
    <div class="flex flex-wrap sm:space-x-8 flex-col sm:flex-row">
      <a href="/imprint">Imprint</a>
      <a href="/privacy">Privacy</a>
      Images by <a
        href="https://www.freepik.com/free-photo/beautiful-prism-light-deflection_9158209.htm#query=prism%20light&position=8&from_view=keyword"
        >Freepik</a
      >
    </div>
  </div>
</footer>
